* {
    margin: 0;
    padding: 0;
}

body {
    font-family: arial, sans-serif;
    background-color: #F5F5F5;
    font-size: larger;
}

.containerTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 1px 1px 2px gray;
    background-color: #ffffff;
    user-select: none;
}

#selectMes {
    font-size: 37px;
    font-weight: bold;
    border: none;
    margin-inline: 6px;
    border-radius: 3px;
    border: 1px solid #d1d1d1;
    transition: 0.2s;
    user-select: none;
}

#selectMes:hover {
    border-color: #000;
    background-color: #F5F5F5;
}

h3 {
    text-decoration: underline;
}

h4 {
    display: flex;
    justify-content: center;
    align-items: center;
}


.columnChkBox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerButtons {
    display: flex;
    justify-content: center;
}

.containerImport {
    display: flex;
    justify-content: center;
}

.containerDivs {
    align-items: center;
    margin-inline: 10px;
    margin-block: 5px;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 1px 1px 2px gray;
    background-color: #ffffff;
    opacity: 0;
    transform: translateY(70px);
    animation: fadeUp .3s ease-out forwards;
}

button {

    padding: 10px;
    width: 100%;
    margin-inline: 5px;
    font-size: medium;
}

.btnCalcular,
.btnRefresh,
.btnPrint,
.btnSave,
.btnExport {
    transition: 0.2s;
    border: 1px solid #E8E8E8;
    box-shadow: none;
    border-radius: 3px;
    background-color: #F9F9F9;
    user-select: none;
}

.btnCalcular:hover,
.btnRefresh:hover,
.btnPrint:hover,
.btnSave:hover,
.btnExport:hover {
    background-color: #F1F1F1;
    box-shadow: none;
}

.formContainer {
    width: 100%;
}

.formContainer,
.referenceTable {
    height: auto;
    margin-inline: 10px;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 1px 1px 2px gray;
    background-color: #ffffff;
    opacity: 0;
    transform: translateY(50px);
    animation: fadeUp .3s ease-out forwards;
}

.referenceTable span {
    color: #242424;
}

.divGuia {
    height: auto;
    margin-inline: 10px;
    border-radius: 3px;
    box-shadow: 1px 1px 2px gray;
    background-color: #ffffff;
    padding-inline: 20px;
    padding-block: 10px;
    opacity: 0;
    transform: translateY(80px);
    animation: fadeUp .3s ease-out forwards;
}

.containerTable {
    width: 100%;
    height: 100%;
}

@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

footer {
    margin-top: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    font-size: medium;
}

.divTitulos {
    display: flex;
    justify-content: center;
    width: 100%;
}


.columnHE,
.columnHS {
    display: flex;
}


.divRow {
    border: 1px solid #E8E8E8;
    border-radius: 3px;
    align-items: center;
    opacity: 0;
    transform: translateY(10px);
    animation: fadeUp .3s ease-out forwards;
}

input {
    border: 1px solid #E1E1E1;
}

.divRow,
.referenceTable {
    display: flex;
    justify-content: center;
}


.container {
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
}

.container,
.columnDate,
.columnWeek,
.columnChkBox,
.Column {
    margin: 5px;
}

.inputHE,
.inputME,
.inputHS,
.inputMS {
    width: 100%;
    border-radius: 3px;
    user-select: none;
}

.arrayCheckBoxFerDom {
    width: 20px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.inputJHDN,
.inputJHN,
.inputJHDF,
.inputJHNF {
    width: 100%;
}

main {
    display: flex;
    flex-direction:row;
}

input,
.containerSpan {
    height: 30px;
    text-align: center;
    font-size: large;
}

.containerSpan {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    width: 100%;
}

.hrInvisible {
    border: none;
}

hr {
    margin: 10px;
    border-style: solid;
    border-color: #E8E8E8;
}

nav {
    height: auto;
    box-shadow: 1px 1px 2px gray;
    background-color: #ffffff;
    padding-inline: 15px;
    display: flex;
    align-items: center;
}

.ulNAv {
    padding: 5px;
    display: flex;
}

.liNav {
    margin-inline: 5px;
    list-style: none;
}

li {
    font-size: medium;
    line-height: 2;
}

a {
    text-decoration: none;
    color: gray;
    transition: 0.2s;
}

a:hover {
    color: #000;
    text-decoration: underline;
}

.divGuia {
    overflow: hidden;
    margin-bottom: 5px;
}

.Desplegable {
    color: #000;
    cursor: pointer;
    user-select: none;
}

.Desplegable:hover {
    text-decoration: underline;
}

.contenido {
    max-height: 0;
    opacity: 0;
    transition: max-height .3s ease, opacity .3s ease;
    padding: 0 15px;
}

.contenido.mostrar {
    max-height: 500;
    opacity: 1;
}

.container-select-metodo {
    text-align: center;
    padding: 10px;
    font-weight: bold;
}

.container-select-metodo select {
    font-size: 18px;
    padding: 2px;
    text-align: center;
    border-radius: 3px;
    border: 1px solid #d1d1d1;
    transition: 0.2s;
    user-select: none;
}

.container-select-metodo select:hover {
    border-color: #000;
    background-color: #F5F5F5;
}

.p-texto-informativo {
    text-align: center;
    padding: 25%;
    font-weight: bold;
    color: #808080;
}

/* *{
    border: 1px solid black;
    padding: 1%;
    margin: 1%;
} */